.cabeçalho_menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url(../Img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
}
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.container-imagem {
    padding: 1em;
}